// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.card {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Montserrat';
}

body{
        background-image: url('https://images.unsplash.com/photo-1644952354935-0bc0d25a9996?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover; 
        background-position: center 50px;
        background-repeat: no-repeat;
}
